*.MOV
*.mov
# Media
assets/videos/*              # ignore everything in videos/
!assets/videos/*.mp4         # …except mp4s in the folder
!assets/videos/**/*.mp4      # …and mp4s in subfolders
*.MOV
*.mov
